
#footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3,1fr);
  -ms-grid-rows: 135px;
  grid-template-rows: 135px;
  grid-template-areas:
    'footer-wrp footer-wrp contacts';
}

#footer {
  border-bottom: 1px solid #225544;
  background: url(images/footer.gif);
}

.footer-wrp {
  grid-area: footer-wrp;
  display: inline-block;
  font: 1.1em 'Carlito', Tahoma, Arial;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding: 15px;
  background: #225544;
  opacity: 0.7;
  color: white;
  border-top: 6px solid #ccc;
  border-bottom: 10px solid #333;
}

.contacts {
  grid-area: contacts;
  font: bolder 23px 'Archia', Helvetica, sans-serif;
  background: #225544;
  opacity: 0.7;
  padding: 15px;
  color: white;
  border-top: 6px solid #778899;
  border-bottom: 10px solid #333;
}

#e-mail {
  margin-left: 35px;
  letter-spacing: 1px;
}

.contacts i {
  font: bold 18px 'Archia';
  color: #FFB333;
  padding-left: 10px;
  text-shadow: 1px 1px 1px #333;
}

.phone {
  margin-left: 13px;
  letter-spacing: 1px;
}

.contacts a {
  color: #FFB333;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
  font: bold 18px 'Archia';
  letter-spacing: 1px;
  padding-left: 5px;
}

.contacts span {
  color: #ccc;
  font: bold 18px 'Montserrat', Helvetica, sans-serif;
  border-bottom: 1px solid gray;
  bottom: 2px;
}

.copyright img {
  width: 205px;
  height: 34px;
  margin-bottom: 20px; 
}

.copyright a {
  text-decoration: none;
  font: bold 19px 'Monserrat', Tahoma, Arial;
  text-shadow: 1px 1px #333;
  color: #778899;
}

.contacts a:hover {
  color: #ccc;
}

.dev {
  display: inline-block;
  padding-bottom: 10px;
  letter-spacing: 1px;
  word-break: break-word;
  margin-left: -220px;
  width: 100%;
}

.copyright span {
  font: bold 1em 'Archia';
  color: #333;
  padding: 2px 5px 2px 5px;
  background: #8f9e87;
  opacity: .8;
}

#boyuna {
  width: 450px;
  font: 1em bold 'Fira Code' !important;
  font-weight: bolder;
  color: lightblue !important; 
  position: relative;
}

#boyuna:before {
  content: attr(data-description);
  box-sizing: border-box;
  background: rgba(0,0,0,.7);
  color: lightblue;
  padding: 25px;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 0;
  width: 100%;
  line-height: 0;
  height: 50px;
  border-radius: 25px;
  opacity: 0;
  transition: .35s ease-in-out;
  margin-left: 0 !important;
}

#boyuna:hover:before {
  text-align: center;
  opacity: 1 !important;
  top: -150px;
}